## Auto Regressive for Feature Extraction by Lags of time series

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
#Pre-Processed 1_29
import glob

path = r'Pre-Processed 1_29' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
cols = []
sub = 1
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    if 'CH 4' in df.columns:
        li.append(df['CH 4'].shift(15))
        cols.append(str(sub)+'_CH4')
    sub += 1    
frame = pd.concat(li, axis=1, ignore_index=True, sort=False)
frame.columns = cols
frame.dropna(inplace=True)

In [3]:
df = frame
df.reset_index(drop=True, inplace=True)
df.head()

,1_CH4,2_CH4,3_CH4,4_CH4,5_CH4,6_CH4,7_CH4,8_CH4,9_CH4,10_CH4,...,43_CH4,44_CH4,45_CH4,46_CH4,47_CH4,48_CH4,49_CH4,50_CH4,51_CH4,52_CH4
0,-7.482015e-12,-2.984279e-13,8.846257e-12,-1.259437e-11,3.680611e-12,-9.734435e-13,2.908784e-13,-2.620126e-14,1.188027e-11,5.559997e-13,...,1.587619e-13,-4.432010e-13,-3.055334e-13,5.542233e-12,-2.107203e-12,4.915535e-11,1.492140e-13,1.760370e-12,2.331468e-13,2.223999e-12
1,6.783821e+00,-8.433354e+00,2.835592e+00,-1.077512e+01,5.013645e+00,-1.785744e+01,3.020215e+01,8.627754e-01,-1.659983e+00,-5.918988e+00,...,-5.286869e+00,-5.918988e+00,3.219520e+00,-2.691148e+01,-2.614945e+01,8.877626e-01,-2.003561e+00,6.053641e+00,-2.145730e+00,-2.462280e+00
2,1.210249e+01,-2.576690e+01,4.408293e+00,-1.766723e+01,-2.017464e+00,-1.881137e+01,2.086777e+01,-1.750053e+01,1.617988e+00,-8.331943e+00,...,-1.255002e+01,-8.331943e+00,-1.398299e-01,-9.805568e+00,-7.127064e+00,2.104809e+00,6.337090e+00,1.398418e+00,6.167684e+00,2.013225e-01
3,6.489967e+00,-3.312706e+01,-1.551292e+00,-9.626454e+00,-6.128488e+00,-6.890117e+00,1.518950e+01,2.561752e+00,1.804419e-01,-6.899977e+00,...,-1.213240e+01,-6.899977e+00,2.192531e+00,-2.982984e+00,1.652268e+01,3.017023e+00,-5.507007e+00,-6.299124e-01,1.738992e+01,5.047152e+00
4,-2.908737e-01,-3.636742e+01,-1.348974e+00,6.519599e+00,-1.319433e+01,4.292914e+00,1.617017e+01,7.776095e-01,-6.078476e-01,-1.694837e+01,...,-1.290590e+01,-1.694837e+01,7.883390e+00,-2.054517e+01,1.921564e+00,2.668076e+00,-5.039139e+00,7.520743e-01,1.456578e+01,3.176488e+00

## Data Normalization

In [4]:
df_norm = (df - df.mean()) / (df.max() - df.min())
df_norm.head()

,1_CH4,2_CH4,3_CH4,4_CH4,5_CH4,6_CH4,7_CH4,8_CH4,9_CH4,10_CH4,...,43_CH4,44_CH4,45_CH4,46_CH4,47_CH4,48_CH4,49_CH4,50_CH4,51_CH4,52_CH4
0,0.000011,0.000005,-0.000006,9.524411e-07,6.367161e-07,-0.000012,-0.000136,-0.000005,-0.000003,0.000003,...,0.000001,0.000003,-0.000002,0.000004,6.686570e-07,-0.000006,0.000019,0.000012,-0.000042,0.000013
1,0.084780,-0.004677,0.007570,-3.966761e-03,4.903241e-02,-0.097372,0.194757,0.001127,-0.014509,-0.008243,...,-0.001486,-0.008243,0.006578,-0.007424,-1.632814e-01,0.002885,-0.015479,0.035993,-0.018734,-0.015826
2,0.151240,-0.014300,0.011771,-6.504639e-03,-1.972949e-02,-0.102573,0.134523,-0.022968,0.014136,-0.011604,...,-0.003529,-0.011604,-0.000288,-0.002702,-4.450204e-02,0.006847,0.049040,0.008323,0.053685,0.001308
3,0.081108,-0.018387,-0.004150,-3.543790e-03,-5.993393e-02,-0.037577,0.097881,0.003357,0.001574,-0.009609,...,-0.003412,-0.009609,0.004479,-0.000819,1.031714e-01,0.009817,-0.042581,-0.003733,0.151444,0.032480
4,-0.003624,-0.020185,-0.003610,2.401659e-03,-1.290355e-01,0.023394,0.104210,0.001016,-0.005314,-0.023607,...,-0.003629,-0.023607,0.016110,-0.005667,1.199927e-02,0.008681,-0.038961,0.004482,0.126842,0.020446

## Dichotomizer

In [5]:
import itertools

In [6]:
# Note: For sample i am taking here only 6(0-5) rows. Actual data may take long time to implement. 

rows = len(df.index[:6]) #All sample numbers(number of rows)
subs = df_norm.columns # All subjects


each_comb = list(itertools.combinations(range(rows), 2)) #All possible combinaion for all rows
all_subs= list(itertools.combinations(subs, 2)) # All possible combination for all subjects

Intra_data = []
Inter_data = []

#Intra Distance Computation (Same Person)
for sub in subs:
    for i in range(len(each_comb)):
        x1= each_comb[i][0]
        y1= each_comb[i][1]
        x2 = df_norm[sub][each_comb[i][0]]
        y2 = df_norm[sub][each_comb[i][1]]
        Intra_dis = ((x1-y1)**2 + (x2-y2)**2) ** 0.5 # Euclidian distance formula
        Intra_data.append(Intra_dis)
        
        
# Inter Distance Computation (Different Person) 
for sub_pair in all_subs: # Pairs of subjets
    for i in range(rows): 
        x1 = i 
        y1 = i
        x2 = df_norm[sub_pair[0]][i]
        y2 = df_norm[sub_pair[1]][i]
        Inter_dis = ((x1-y1)**2 + (x2-y2)**2) ** 0.5 # Euclidian distance formula
        Inter_data.append(Inter_dis)
        

print(len(Intra_data)) 

print(len(Inter_data))

780
7956